body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#app {
    
}

.level-one {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.level-one-left {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    transition: width 2s ease-in-out;
    overflow: hidden;
    z-index: 1;

    .level-one-panel {
        right: 0;
        border-right: 1px solid #c6c6c6;
    }

    .level-one-img {
        background: url(/pics/tmk-new.jpg);
        background-size: cover;
        position: absolute;
        height: 500px;
        width: 100%;
        top: 0;
        left: 0;
        transition: all 2s ease-in-out;
        z-index: 1;
    }

    &--openLeft {
        
        .level-one__more {
            &::after {
                display: none;
            }
        }
    }

    &--openRight {
        
        .level-one__more {
            &::after {
                display: none;
            }
        }
    }
}

.level-one-right {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    transition: width 2s ease-in-out;
    overflow: hidden;

    .level-one-panel {
        right: 0;
    }

    .level-one-img {
        background: url(/pics/stz.jpg);
        background-size: cover;
        position: absolute;
        height: 500px;
        width: 100%;
        top: 0;
        right: 0;
        transition: all 2s ease-in-out;
        z-index: 1;
    }

    &--openRight {
        
        .level-one__more {
            &::after {
                display: none;
            }
        }
    }

    &--openLeft {
        
        .level-one__more {
            &::after {
                display: none;
            }
        }
    }
}

.level-one-panel {
    padding: 0px 50px;
    width: 100%;
    background: #eeeeee;
    height: 580px;
    position: absolute;
    top: 500px;
    left: 0;
    transition: right 1s ease-in-out 1s;
    transition: left 1s ease-in-out 1s;
    overflow: hidden;
}

.level-two {
    position: absolute;
    width: 0;
    height: 100vh;
    top: 0;
    right: 0%;
    transition: width 2s ease-in-out 0s;
    overflow: hidden;
    z-index: 2;
}


.level-three {
    position: absolute;
    width: 0;
    height: 100vh;
    top: 0;
    right: 0%;
    transition: width 2s ease-in-out;
    overflow: hidden;
    z-index: 3;
}

.level-four {
    position: absolute;
    width: 0;
    height: 100vh;
    top: 0;
    right: 0%;
    transition: width 2s ease-in-out;
    overflow: hidden;
    z-index: 4;
}


.level-three-left {
    width: 100%;
    height: 100vh;
}

.level-three-right {
    width: 900px;
    position: absolute;
    top: 0;
    right: 1020px;
}


.level-two--open {
    width: 100%;
    transition: width 2s ease-in-out;
}

.level-three--open {
    width: 100%;
}

.level-four--open {
    width: 100%;
}

.level-two--hidden {
    width: 100%;
}

.level-three--hidden {
    width: 100%;
}


.level-four-left {
    width: 100%;
    height: 100vh;
}

.level-four-right {
    width: 960px;
    position: absolute;
    top: 0;
    right: 960px;
    z-index: 1;
}

.level-two-left {
    width: 100%;
    height: 100vh;
}

.level-two-right {
    width: 700px;
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 1;
}

.level-two-panel {
    padding: 100px 80px;
    background: #eeeeee;
    height: 100vh;
}


.level-one__logo {
    img {
        width: 75px;
    }
}

.level-one__logo--tmk {
    margin: 55px 0 70px;
}

.level-one__logo--sinz {
    margin: 55px 0 30px;
}

.level-one__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 0px;
}

.level-one__more {
    font-family: 'Europe';
    background: #f36e21;
    padding: 34px 100px 32px 40px;
    width: 315px;
    color: #fff;
    font-size: 24px;
    border-radius: 50px;
    position: absolute;
    bottom: 50px;
    cursor: pointer;
    animation: resize 6s infinite ease-in-out 1s;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
}

@keyframes resize {
    from {
        transform: scale(1);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
    }

    20% {
        transform: scale(1);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
    }

    22% {
        transform: scale(1.05);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
    }

    25% {
        transform: scale(1.0);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
    }

    27% {
        transform: scale(1.05);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
    }

    30% {
        transform: scale(1.0);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
    }

    to {
        transform: scale(1);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
    }
}



.level-one__more-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background: #f58b4d;
    overflow: hidden;

    &:before {
        content: "";
        background: url(/pics/arrow.png);
        width: 30px;
        height: 20px;
        position: absolute;
        top: 25px;
        left: 21px;
    }
}

.level-one__qr {
    position: absolute;
    bottom: 50px;
    right: 60px;
}




.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

	h1 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    p {
        font-size: 18px;
        font-family: 'Europe';
    }
}

.content-block {
	margin-bottom: 40px;
}

.content-back {
	font-family: 'Europe';
    border: 2px solid #f36e21;
    padding: 34px 60px 32px 100px;
    width: 315px;
    color: #f36e21;
    font-size: 24px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    text-align: center;

}

.content-back--arrow {
	position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background: #f36e21;
    &:before {
        content: "";
        background: url(/pics/arrow.png);
        transform: rotate(180deg);
        width: 30px;
        height: 20px;
        position: absolute;
        top: 25px;
        left: 21px;
    }
}

.breadcrumbs {
    font-size: 18px;
    font-family: 'Europe';
    color: #939393;
    margin-bottom: 30px;
}

.breadcrumbs-one {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 10px;
    cursor: pointer;
}

.breadcrumbs-del {
    display: inline-block;
	margin: 0 5px;
}

.active {
	text-decoration: none;
}