.level-one {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.level-one-right {
    width: 50%;
    position: relative;
    background: url(/pics/tmk.jpg);
    background-size: cover;
    background-position: 90% 50%;
}

.level-one-left {
    width: 50%;
    position: relative;
    background: url(/pics/stz.jpg);
    background-size: cover;
    background-position: 140% 50%;
}

.level-one-panel {
    padding: 0px 30px;
    width: 615px;
    background: #eeeeee;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.level-one__logo {
	
}

.level-one__logo--tmk {
    margin: 100px 0 80px;
}

.level-one__logo--sinz {
    margin: 300px 0 40px;
}

.level-one__title {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 90px;
}

.level-one__more {
    font-family: 'Europe';
    background: #f36e21;
    padding: 34px 100px 32px 40px;
    width: 315px;
    color: #fff;
    font-size: 24px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.level-one__more-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background: #f58b4d;
    &:before {
        content: "";
        background: url(/pics/arrow.png);
        width: 30px;
        height: 20px;
        position: absolute;
        top: 25px;
        left: 21px;
    }
}

.level-one__qr {
    margin-top: 40px;
}

